pydantic
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-core
langchain-community
defusedxml
langchain-unstructured[local]
unstructured-client 
unstructured
libmagic
arxiv 
pymupdf
wikipedia
youtube_search
langchain-tavily
langgraph